<div class="container text-center">
  <h1>About Us</h1>
  <p>We are devMatch. Our company focuses on creating an exclusive community
  for developers and entrepreneurs to meet.</p>
  <br>
  <div class="row">
    <div class="col-md-4 about-team-profile">
      <div class="well">
        <img src="https://randomuser.me/api/portraits/men/27.jpg", class="user-index-avatar">
        <h2>Johnny Warlow</h2>
        <h3 class='fa fa-dollar'> CEO</h3>
      </div>
    </div>
    <div class="col-md-4 about-team-profile">
      <div class="well">
        <img src="https://randomuser.me/api/portraits/women/71.jpg", class="user-index-avatar">
        <h2>Sarah Jessica</h2>
        <h3 class='fa fa-lightbulb-o'> Marketing & PR</h3>
      </div>
    </div>
    <div class="col-md-4 about-team-profile">
      <div class="well">
        <img src="https://randomuser.me/api/portraits/men/43.jpg", class="user-index-avatar">
        <h2>Harry Burton</h2>
        <h3 class='fa fa-code'> Back-End Developer</h3>
      </div>
    </div>
  </div>
</div>    