Memberships
* User should see link for Basic plan on home page
* User should see link for Pro plan on home page
* Basic plan link should point to regular Devise sign up form
* Pro plan link should point to a customer sign up form

Stripe Integration
* Users should have a stripe customer token in the users table
* Javascript should prevent Pro form from submitting after user fills it out,
* and should send card info to Stripe. Stripe will return with a card token.
* Javascript should send user fields and card token to our rails app. Rails
* app should validate the user fields. Rails app will now whether plan 1 or 
* plan 2.
* Once validated, Rails should send user info (email, plan id) and card 
* token to Stripe server and Stripe will create a subscription and send back 
* customer token. Rails should save customer token and user information to our
* database.

User Profiles
* Each user should have one profile
* User should see a link to the new profile form upon signing up
* User should be able to create and view their user profile
* User profile should have a profile picture
* User should be able to view all user profiles

League Table
* Table should show users ordered by last login, recent at the top
* Table should show users ordered by number of logins 
* Table should be visible to everyone but anyone not signed in
* should only see pictures and job titles, everyone else sees picture and name
* Table should be exportable for pro users

  <% for league in @leagues%>
    <tr>
      <td><%= link_to league.name, league %></td>
      <td><%= league.from_year %>-<%= league.to_year %></td>
      <td>
        <% if can? :new, league %>
          <%= link_to "Delete", league, :method => :delete, :data => {:confirm => "Delete this league: #{league.name}?"},
                      :class => "btn btn-danger",
                      :title => "Delete #{league.name}" %>
        <% end %>
      </td>
    </tr>
  <% end%>
  
  <% @users.each do |user| %>
    <% if user.profile %>
      <tr>
        <td><%= image_tag user.profile.avatar.url, class:'user-index-avatar' %></td>
        <td><%= user.profile.first_name %> <%= user.profile.last_name %></td>
        <td><%= user.last_sign_in_at %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  
  
  
  
  